[run]
source = mahotas

[report]
omit =
    mahotas/demos/*
    mahotas/bwperim.py
    mahotas/freeimage.py
    mahotas/lbp.py
    mahotas/moments.py
    mahotas/surf.py
    mahotas/texture.py
    mahotas/tas.py
    mahotas/tests/__init__.py
    mahotas/zernike.py
    mahotas/io/freeimage.py
    mahotas/io/pil.py
    mahotas/features_cli.py
exclude_lines =
    pragma: no cover

