language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
virtualenv:
    system_site_packages: true
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq python-numpy libatlas-dev liblapack-dev gfortran
    - sudo apt-get install -qq python-scipy
    - sudo apt-get install -qq python3-numpy python3-scipy
install:
  - "pip install nose"
  - "make debug"
script: nosetests
