include mahotas/numpypp/*.hpp
include mahotas/*cpp
include mahotas/*hpp
include mahotas/*h
include mahotas/*py
include README.md
include docs/source/*.rst
include AUTHORS
include ChangeLog
include COPYING
include INSTALL
include Makefile
include mahotas/tests/data/*
include mahotas/demos/data/*
include *requirements.txt
graft docs/source
include docs/Makefile
